@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-VariableFont_wght.ttf") format("woff2"), url("../fonts/Montserrat/static/Montserrat-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Lily_Script_One";
  src: url("../fonts/Lily_Script_One/LilyScriptOne-Regular.ttf") format("woff2");
}
@font-face {
  font-family: "Jura";
  src: url("../fonts/Jura/static/Jura-SemiBold.ttf") format("woff2");
}
* {
  text-decoration: none;
  box-sizing: border-box;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #9AD5BC;
}
.header__logo {
  height: 60px;
  width: 102px;
}
.header__burger {
  display: none;
  width: 30px;
  height: 30px;
  position: absolute;
  margin-right: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  left: 4vw;
  z-index: 4;
  top: 35px;
  transform: translateY(-50%);
}
.header__burger span {
  display: none;
  position: absolute;
  height: 10%;
  width: 100%;
  background: #fff;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
.header__burger span:nth-child(1) {
  top: 0px;
}
.header__burger span:nth-child(2), .header__burger span:nth-child(3) {
  top: 10px;
}
.header__burger span:nth-child(4) {
  top: 20px;
}
.header__nav {
  width: 50vw;
  text-decoration: none;
  font-size: 1.2em;
}
@media (max-width: 1000px) {
  .header__nav {
    width: 70vw;
    background-color: transparent;
  }
}
.header__nav__container {
  text-align: center;
}
.header__nav__container:hover .header__nav__container__text::before {
  width: 100%;
  background-color: #9AD5BC;
}
.header__nav__container__text {
  position: relative;
  text-decoration: none;
}
.header__nav__container__text--SOZO {
  font-size: 2.2em;
}
.header__nav__container__text:hover {
  color: #fff;
}
.header__nav__container__text::before {
  content: attr(data-text);
  position: absolute;
  width: 0;
  overflow: hidden;
  transition: 0.6s;
}
.header__nav div {
  display: flex;
  flex-direction: column;
}
.header__nav div:hover .header__nav__line {
  transform: scaleX(-100%);
  transition: transform 400ms;
}
.header__nav .header__nav__line {
  transform: scaleX(0%);
  transition: transform 400ms 200ms;
  height: 2px;
  background-color: #76c6a4;
  justify-self: end;
}
.header a {
  color: #fff;
  text-align: center;
  font-family: "Jura";
}
.header--SOZO {
  font-size: 40px;
}
.header__function {
  justify-content: space-between;
}
.header__function img {
  height: 25px;
  transition: transform 200ms;
}
.header__function img:hover {
  transform: scale(1.2);
  transition: transform 200ms;
}
@media (max-width: 700px) {
  .header {
    z-index: 3;
  }
  .header__logo {
    display: none;
  }
  .header__burger {
    display: block;
  }
  .header__burger span {
    display: block;
  }
  .header__nav {
    width: auto;
    padding-left: 100px;
  }
  .header__nav__container__text--notSOZO {
    display: none;
  }
  .header__function img {
    height: 20px;
  }
}

#login-box-blur {
  z-index: 4;
  opacity: 0;
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: #242026;
}

.login-box {
  display: none;
  z-index: 5;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: #242026;
  box-shadow: 0 15px 25px #9AD5BC;
  border-radius: 10px;
  font-family: "Montserrat";
}

#login-box.show {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box label {
  margin-top: -20px;
}

.login-box .user-box input {
  position: relative;
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.login-box .user-box label {
  position: relative;
  left: 0;
  top: -60px;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -85px;
  left: 0;
  color: #9AD5BC;
  font-size: 12px;
}

#submit {
  padding: 10px 20px;
  color: #FFF;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  letter-spacing: 4px;
  border: 1px solid #fff;
  margin: auto;
  background-color: #242026;
}

#submit:hover {
  background: #52b78c;
  color: #fff;
  box-shadow: 0 0 2px #9AD5BC, 0 0 25px, 0 0 50px #9AD5BC, 0 0 100px #9AD5BC;
}

.button-form {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

#register {
  font-size: 14px;
  text-decoration: none;
  color: #fff;
  margin: auto;
  width: 60%;
  text-align: center;
}

#register a {
  margin: auto;
  color: #fff;
  text-decoration: none;
}

.to_blur {
  filter: blur(1.5px);
}

.mobile-only__nav {
  position: fixed;
  left: 0;
  width: 100vw;
  top: 0;
  padding: 70px 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #9AD5BC;
  z-index: 1;
  align-items: stretch;
  gap: 2rem;
  transform: translateX(-100%);
  transition: all 0.2s;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  opacity: 0.9;
  padding-left: 3%;
}
.mobile-only__nav-open {
  transform: translateX(0%);
}
.mobile-only__nav a {
  color: inherit;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mobile-only__nav li {
  list-style: none;
  font-size: 5vw;
  color: white;
  font-family: "Jura";
}

#burger.open span:nth-child(1) {
  top: 0px;
  width: 0%;
  left: 0;
}

#burger.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#burger.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#burger.open span:nth-child(4) {
  top: 0;
  width: 0%;
  left: 0;
}

.error-container {
  margin: 20vh auto;
  text-align: center;
  height: 40vh;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.error-container h1 {
  font-size: 48px;
  margin-bottom: 20px;
}
.error-container p {
  font-size: 1em;
}
.error-container a {
  display: inline-block;
  color: #000;
  text-decoration: none;
  font-size: 1.2em;
}
.error-container a:hover {
  color: #3f9772;
}
.error-container div {
  display: flex;
  flex-direction: column;
  width: fit-content;
}
.error-container div:hover .header__nav__line {
  transform: scaleX(-100%);
  transition: transform 400ms;
}
.error-container div .header__nav__line {
  transform: scaleX(0%);
  transition: transform 400ms 200ms;
  height: 2px;
  background-color: #52b78c;
  justify-self: end;
}

.carousel-item {
  min-height: 280px;
  max-height: calc(100vh - 60px);
}
.carousel-item div {
  border: 2px solid black;
  width: 50px;
  height: 10px;
}

.main-register {
  display: flex;
  flex-direction: column;
}
.main-register .main-register__form {
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.main-register .main-register__form__field {
  border: rgb(25, 25, 25) solid 1px;
  padding: 15px;
  width: 40vw;
  font-family: "Jura";
}
.main-register .main-register__form__field:focus {
  border-color: #9AD5BC;
  border-width: 1.5px;
  outline: none;
}
.main-register .main-register__form__field[type=submit] {
  background-color: #52b78c;
  border: none;
  color: #fff;
  padding: 16px 32px;
  margin: 4px 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.4s ease-in-out;
}
.main-register .main-register__form__field[type=submit]:hover {
  background-color: #3f9772;
  border: none;
  color: #fff;
}

/*# sourceMappingURL=main.css.map */
