@charset "UTF-8";
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-VariableFont_wght.ttf") format("woff2"), url("../fonts/Montserrat/static/Montserrat-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Lily_Script_One";
  src: url("../fonts/Lily_Script_One/LilyScriptOne-Regular.ttf") format("woff2");
}
@font-face {
  font-family: "Jura";
  src: url("../fonts/Jura/static/Jura-SemiBold.ttf") format("woff2");
}
* {
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Jura";
}

body.show {
  overflow: hidden;
}

#header.hide {
  transform: translateY(-100%);
  transition: transform 0.3s cubic-bezier(0.9, 1.33, 0.51, 0.9);
}

.header {
  transform: translateY(0);
  transition: transform 0.3s cubic-bezier(0.9, 1.33, 0.51, 0.9);
  position: fixed;
  width: 100vw;
  height: 60px;
  top: 0;
  left: 0;
  z-index: 3;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #6168a2;
}
.header__logo {
  height: 60px;
  width: 102px;
}
.header__burger {
  display: none;
  width: 30px;
  height: 30px;
  margin-right: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  left: 4vw;
  z-index: 4;
  top: 35px;
  transform: translateY(-50%);
}
.header__burger span {
  display: none;
  position: absolute;
  height: 10%;
  width: 100%;
  background: #fff;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
.header__burger span:nth-child(1) {
  top: 0px;
}
.header__burger span:nth-child(2), .header__burger span:nth-child(3) {
  top: 10px;
}
.header__burger span:nth-child(4) {
  top: 20px;
}
.header__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 50vw;
  text-decoration: none;
  font-size: 1.2em;
}
@media (max-width: 1000px) {
  .header__nav {
    width: 70vw;
    background-color: transparent;
  }
}
.header__nav__container {
  text-align: center;
}
.header__nav__container:hover .header__nav__container__text::before {
  width: 100%;
  background-color: #6168a2;
}
.header__nav__container__text {
  position: relative;
  text-decoration: none;
}
.header__nav__container__text--SOZO {
  font-size: 2.2em;
}
.header__nav__container__text:hover {
  color: #fff;
}
.header__nav__container__text::before {
  content: attr(data-text);
  position: absolute;
  width: 0;
  overflow: hidden;
  transition: 0.6s;
}
.header__nav div {
  display: flex;
  flex-direction: column;
}
.header__nav div:hover .header__nav__line {
  transform: scaleX(-100%);
  transition: transform 400ms;
}
.header__nav .header__nav__line {
  transform: scaleX(0%);
  transition: transform 400ms 200ms;
  height: 2px;
  background-color: #4d5383;
  justify-self: end;
}
.header a {
  color: #fff;
  text-align: center;
}
.header--SOZO {
  font-size: 40px;
}
.header__btn {
  margin-right: 30px;
}
.header__btn__profile {
  background-color: #6168a2;
  border: none;
}
.header__btn__profile--connected {
  background-color: #6168a2;
  border: 2px solid #333333;
  width: 40px;
  height: 40px;
  border-radius: 100%;
}
.header__btn__profile--cart {
  background-color: #6168a2;
  border: none;
  height: 50px;
}
.header__btn img {
  height: 25px;
  transition: transform 200ms;
}
.header__btn img:hover {
  transform: scale(1.2);
  transition: transform 200ms;
}
@media (max-width: 700px) {
  .header__logo {
    display: none;
  }
  .header__burger {
    display: block;
  }
  .header__burger span {
    display: block;
  }
  .header__nav {
    width: auto;
    position: fixed;
    left: 50%;
    transform: translate(-50%);
  }
  .header__nav__container__text--notSOZO {
    display: none;
  }
  .header__function img {
    height: 20px;
  }
}

.login-box-blur {
  z-index: 3;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%);
  transition: visibility 0s linear 0.3s, opacity 0.3s ease-in-out;
  height: 100%;
  width: 100%;
  background-color: #242026;
}
.login-box-blur.show {
  visibility: visible;
  opacity: 0.6;
  transition: visibility 0s linear 0s, opacity 0.3s ease-in-out;
}

.to-blur {
  filter: blur(0px);
}
.to-blur.show {
  filter: blur(1.5px);
}

.login-box {
  visibility: hidden;
  z-index: 4;
  position: fixed;
  opacity: 0;
  transition: visibility 0s linear 0.3s, opacity 0.3s ease-in-out;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: #242026;
  box-shadow: 0 15px 25px #6168a2;
  border-radius: 10px;
}
@media (max-width: 400px) {
  .login-box {
    width: 95vw;
  }
}
.login-box.show {
  visibility: visible;
  opacity: 1;
  position: fixed;
  transition: opacity 0.3s ease-in-out, visibility 0s linear 0s;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}
.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}
.login-box__input label {
  margin-top: -20px;
  position: relative;
  left: 0;
  top: -60px;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}
.login-box__input input {
  position: relative;
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.login-box__input__img {
  position: absolute;
  left: 83%;
  top: 53%;
  cursor: pointer;
}
.login-box__input__img img {
  background-color: #242026;
  height: 20px;
  fill: #FFF;
}
.login-box__input__img--show {
  position: inherit;
  top: 0;
  visibility: hidden;
}
.login-box__input__img--show.show {
  visibility: visible;
}
.login-box__input__img--hide {
  position: inherit;
  top: 0;
}
.login-box__input__img--hide.show {
  visibility: hidden;
}
.login-box__input__btn {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}
@media (max-width: 400px) {
  .login-box__input__btn {
    flex-direction: column;
  }
  .login-box__input__btn div {
    padding-top: 20px;
    width: 60vw !important;
  }
}
.login-box__input__btn--submit {
  padding: 10px 20px;
  color: #FFF;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  letter-spacing: 4px;
  border: 1px solid #fff;
  margin: auto;
  background-color: #242026;
}
.login-box__input__btn--submit:hover {
  background: #3a3f63;
  color: #fff;
  box-shadow: 0 0 2px #6168a2, 0 0 25px, 0 0 50px #6168a2, 0 0 100px #6168a2;
}
.login-box__input__btn--register {
  font-size: 14px;
  text-decoration: none;
  color: #fff;
  margin: auto;
  width: 60%;
  text-align: center;
}
.login-box__input__btn--register a {
  margin: auto;
  color: #6168a2;
  text-decoration: none;
}
.login-box__input__btn--register a:hover {
  text-decoration: underline;
}
.login-box .login-box__input input:focus ~ label,
.login-box .login-box__input input:valid ~ label {
  top: -85px;
  left: 0;
  color: #6168a2;
  font-size: 12px;
}

.logged-box-blur {
  z-index: 3;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%);
  transition: visibility 0s linear 0.3s, opacity 0.3s ease-in-out;
  height: 100%;
  width: 100%;
  background-color: #242026;
}
.logged-box-blur.show {
  visibility: visible;
  opacity: 0.6;
  transition: visibility 0s linear 0s, opacity 0.3s ease-in-out;
}

.logged-box {
  visibility: hidden;
  z-index: 4;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  transition: visibility 0s linear 0.3s, opacity 0.3s ease-in-out;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  color: #FFF;
  background: #242026;
  box-shadow: 0 15px 25px #6168a2;
  border-radius: 10px;
}
@media (max-width: 400px) {
  .logged-box {
    width: 95vw;
  }
}
.logged-box.show {
  visibility: visible;
  opacity: 1;
  position: fixed;
  transition: opacity 0.3s ease-in-out, visibility 0s linear 0s;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}
.logged-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}
.logged-box a {
  text-decoration: none;
  color: #FFF;
  padding: 20px 0;
}
.logged-box a:hover {
  text-decoration: underline;
  color: #FFF;
}
.logged-box form {
  margin-top: 30px !important;
  width: 80%;
  color: #FFF;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  letter-spacing: 4px;
  border: 1px solid #fff;
  margin: auto;
  background-color: #242026;
}
.logged-box form input {
  position: relative;
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  border: none;
  outline: none;
  background: transparent;
}
.logged-box form:hover {
  background: #3a3f63;
  color: #fff;
  box-shadow: 0 0 2px #6168a2, 0 0 25px, 0 0 50px #6168a2, 0 0 100px #6168a2;
}

.mobile-only__nav {
  z-index: 2;
  position: fixed;
  left: 0;
  width: 100vw;
  top: 0;
  padding: 70px 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #6168a2;
  align-items: stretch;
  gap: 2rem;
  transform: translateX(-100%);
  transition: all 0.2s;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  opacity: 0.9;
}
.mobile-only__nav li {
  list-style: none;
  font-size: 5vw;
  color: white;
}
.mobile-only__nav li a {
  display: flex;
  color: white;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}
.mobile-only__nav li a em {
  font-size: smaller;
  color: #cccccc;
}
.mobile-only__nav-open {
  transform: translateX(0%);
}

#burger.open span:nth-child(1) {
  top: 0px;
  width: 0%;
  left: 0;
}
#burger.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
#burger.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
#burger.open span:nth-child(4) {
  top: 0;
  width: 0%;
  left: 0;
}

.error-container {
  margin: 20vh auto;
  text-align: center;
  height: 40vh;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.error-container h1 {
  font-size: 48px;
  margin-bottom: 20px;
}
.error-container p {
  font-size: 1em;
}
.error-container a {
  display: inline-block;
  color: #000;
  text-decoration: none;
  font-size: 1.2em;
}
.error-container a:hover {
  color: #272a43;
}
.error-container div {
  display: flex;
  flex-direction: column;
  width: fit-content;
}
.error-container div:hover .header__nav__line {
  transform: scaleX(-100%);
  transition: transform 400ms;
}
.error-container div .header__nav__line {
  transform: scaleX(0%);
  transition: transform 400ms 200ms;
  height: 2px;
  background-color: #3a3f63;
  justify-self: end;
}

.unsubscribe-container {
  margin: 20vh auto;
  text-align: center;
  height: 40vh;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.unsubscribe-container__form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.unsubscribe-container__form--email {
  width: 20vw;
  padding: 20px 30px;
  font-size: 1.2em;
  border: 1px solid black;
}
.unsubscribe-container__form--submit {
  width: 20vw;
  padding: 10px 20px;
  color: #FFF;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  letter-spacing: 4px;
  border: 1px solid #000;
  margin: auto;
  background-color: #242026;
}
.unsubscribe-container__form--submit:hover {
  background: #3a3f63;
  color: #fff;
  box-shadow: 0 0 2px #6168a2, 0 0 25px, 0 0 50px #6168a2, 0 0 100px #6168a2;
}

.carousel-item {
  position: relative;
  top: 60px;
  max-height: 100vh;
}
.carousel-caption {
  padding-bottom: 20rem !important;
}
.carousel-caption:hover {
  color: inherit;
}
.carousel-caption a {
  padding: 20px 30px;
  text-decoration: none;
  background-color: #6168a2;
  color: #fff;
  border-radius: 50px;
}
@media (max-width: 700px) {
  .carousel-caption {
    padding-bottom: 7rem !important;
  }
  .carousel-caption a {
    padding: 8px 20px;
    font-size: 0.6em;
  }
  .carousel-caption a div {
    width: 70vw;
  }
}
.carousel-btn {
  color: #fff;
  border-radius: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
  outline: none;
  border: 0;
  padding: 15px 50px;
  overflow: hidden;
  transition: all 0.5s;
}
.carousel-btn:before {
  content: attr(data-hover);
  position: absolute;
  top: 1.1em;
  left: 0;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 800;
  font-size: 1em;
  opacity: 0;
  transform: translate(-100%, 0);
  transition: all 0.3s ease-in-out;
}
.carousel-btn:hover {
  cursor: pointer;
  box-shadow: 0px 4px 4px #3a3f63;
  color: #FFF;
}
.carousel-btn:hover:before {
  opacity: 1;
  transform: translate(0, 0);
}
.carousel-btn:hover div {
  opacity: 0;
  transform: translate(100%, 0);
}
.carousel-btn div {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 800;
  font-size: 0.8em;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 700px) {
  .carousel-indicators {
    visibility: hidden;
  }
}
.carousel-control {
  transform: translateY(60px);
  height: calc(100% - 60px);
}

.main {
  background-color: #FFF;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}
.main__img {
  height: 30vh;
}
.main__p {
  text-align: center;
  width: 75vw;
  font-size: 1.2em;
}

.collection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.collection img {
  max-width: 50vw;
}

.newsletter {
  background-image: url(../images/main/background.png);
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #FFF;
}
.newsletter h2 {
  font-size: 2em;
}
.newsletter p {
  padding: 30px 0;
  font-size: 1.2em;
}
.newsletter__form {
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 600px;
}
@media (max-width: 800px) {
  .newsletter__form {
    width: 60vw;
  }
}
.newsletter__form input {
  border: none;
  border-radius: 30px;
  padding: 20px 30px;
}
.newsletter__form input:focus {
  outline: none !important;
}

.register {
  margin-top: 80px;
}
.register__text {
  position: relative;
  padding-left: 2%;
}
@media (max-width: 700px) {
  .register__text {
    width: 80vw;
  }
}
.register__box {
  margin: 50px 0;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  width: 50vw;
  margin-top: 40px;
  color: black;
}
.register__box h2 {
  font-size: 3em;
  padding-bottom: 30px;
  color: black;
  text-align: center;
}
.register__box__input label {
  position: relative;
  top: -80px;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #4d5383;
  pointer-events: none;
  transition: 0.5s;
}
.register__box__input input {
  position: relative;
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #4d5383;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1.5px solid black;
  outline: none;
  background: transparent;
}
.register__box__input--checkbox .slider-checkbox {
  position: relative;
  padding: 5px 0;
}
.register__box__input--checkbox .slider-checkbox input {
  margin: 0px;
  margin-top: 1px;
  cursor: pointer;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 0px;
  background: red;
  width: 40px;
  height: 20px;
}
.register__box__input--checkbox .slider-checkbox input:checked + .label:before {
  background-color: #6168a2;
  content: "✔";
  padding-left: 6px;
}
.register__box__input--checkbox .slider-checkbox input:checked + .label:after {
  left: 21px;
}
.register__box__input--checkbox .slider-checkbox .label {
  position: relative;
  padding-left: 46px;
}
@media (max-width: 700px) {
  .register__box__input--checkbox .slider-checkbox .label {
    font-size: 0.8em;
  }
}
.register__box__input--checkbox .slider-checkbox .label:before, .register__box__input--checkbox .slider-checkbox .label:after {
  position: absolute;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  transition: background-color 0.3s, left 0.3s;
}
.register__box__input--checkbox .slider-checkbox .label:before {
  content: "✖";
  color: #fff;
  box-sizing: border-box;
  font-family: "FontAwesome", sans-serif;
  padding-left: 23px;
  font-size: 12px;
  line-height: 20px;
  background-color: grey;
  left: 0px;
  top: 0px;
  height: 20px;
  width: 40px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.register__box__input--checkbox .slider-checkbox .label:after {
  content: "";
  letter-spacing: 20px;
  background: #fff;
  left: 1px;
  top: 1px;
  height: 18px;
  width: 18px;
}
.register__box__input--checkbox .slider-checkbox .label a {
  color: #000;
}
.register__box__input--btn {
  margin: 20px 0;
  display: flex;
  align-items: center;
}
.register__box__input--btn--submit {
  padding: 10px 20px;
  color: #FFF;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  letter-spacing: 4px;
  border: 1px solid #fff;
  margin: auto;
  background-color: #242026;
}
.register__box__input--btn--submit:hover {
  background: #3a3f63;
  color: #fff;
  box-shadow: 0 0 2px #6168a2, 0 0 25px, 0 0 50px #6168a2, 0 0 100px #6168a2;
}
.register__box__input--btn input {
  padding: 20px 50px !important;
  font-size: 1.5em !important;
}
.register__box__img_1 {
  position: absolute;
  top: 590px;
  left: 95%;
  cursor: pointer;
}
.register__box__img_1 img {
  height: 20px;
}
.register__box__img_1--show {
  position: inherit;
  top: 0;
  visibility: hidden;
}
.register__box__img_1--show.show {
  visibility: visible;
}
.register__box__img_1--hide {
  position: inherit;
  top: 0;
}
.register__box__img_1--hide.show {
  visibility: hidden;
}
.register__box__img_2 {
  position: absolute;
  top: 710px;
  left: 95%;
  cursor: pointer;
}
.register__box__img_2 img {
  height: 20px;
}
.register__box__img_2--show {
  position: inherit;
  top: 0;
  visibility: hidden;
}
.register__box__img_2--show.show {
  visibility: visible;
}
.register__box__img_2--hide {
  position: inherit;
  top: 0;
}
.register__box__img_2--hide.show {
  visibility: hidden;
}
.register__box .main-register__form__field--psw:focus + .password-validation {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s;
}
.register__box .password-validation {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;
  position: fixed;
  font-size: 0.7em;
  width: 50vw !important;
  left: 50%;
  top: 625px;
  transform: translate(-50%);
  border-radius: 5px;
  font-size: 0.7em;
  padding: 5px;
  color: #f4f4f4;
  background-color: #333333;
}
.register__box .password-validation ul {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
}
@media (max-width: 700px) {
  .register__box .password-validation {
    font-size: 0.7em;
    width: 80vw !important;
    left: 50%;
    top: 618px;
    transform: translate(-50%);
    z-index: 10;
  }
  .register__box .password-validation ul {
    flex-direction: column;
    list-style: none;
  }
}
@media (max-width: 1000px) {
  .register__box .password-validation {
    font-size: 0.7em;
    width: 20vw;
  }
}
@media (max-width: 700px) {
  .register__box {
    width: 80vw;
  }
}
.register__box .register__box__input input:focus ~ label,
.register__box .register__box__input input:valid ~ label {
  top: -100px;
  left: 0;
  color: #141623;
  font-size: 15px;
}

footer {
  background-color: #1a1a1a;
  height: auto;
}
footer .footer {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  color: #FFF;
}
@media (max-width: 1000px) {
  footer .footer {
    font-size: 0.8em;
  }
  footer .footer h2 {
    font-size: 1.5em;
  }
}
@media (max-width: 700px) {
  footer .footer {
    flex-direction: column;
    align-items: center;
    height: auto;
    width: auto;
  }
  footer .footer > * {
    height: auto;
    width: auto !important;
  }
  footer .footer__middle ul li a {
    text-decoration: underline !important;
  }
}
footer .footer h2 {
  padding: 20px 0;
}
footer .footer__left {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 33vw;
}
footer .footer__middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33vw;
}
footer .footer__middle ul {
  padding: 0;
}
footer .footer__middle ul li {
  list-style-type: none;
  display: flex;
  justify-content: center;
}
footer .footer__middle ul li a {
  text-decoration: none;
  color: #fff;
}
footer .footer__middle ul li a:hover {
  text-decoration: underline;
}
footer .footer__right {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33vw;
}
footer .footer__right p {
  width: 75%;
  text-align: center;
}
footer .footer__bot {
  position: relative;
  width: 50%;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #FFF;
}
@media (max-width: 800px) {
  footer .footer__bot {
    width: 80%;
  }
  footer .footer__bot ul {
    width: 70vw !important;
  }
}
footer .footer__bot ul {
  padding: 30px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 50%;
}
footer .footer__bot ul li a svg {
  transform: scale(1);
  transition: transform 0.2s;
  height: 30px;
  color: #fff;
}
footer .footer__bot ul li a svg:hover {
  transform: scale(1.2);
  transition: transform 0.2s;
}

/*# sourceMappingURL=main.css.map */
