@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-VariableFont_wght.ttf") format("woff2"), url("../fonts/Montserrat/static/Montserrat-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Lily_Script_One";
  src: url("../fonts/Lily_Script_One/LilyScriptOne-Regular.ttf") format("woff2");
}
@font-face {
  font-family: "Jura";
  src: url("../fonts/Jura/static/Jura-SemiBold.ttf") format("woff2");
}
* {
  text-decoration: none;
  box-sizing: border-box;
}

body.show {
  overflow: hidden;
}

#header.hide {
  transform: translateY(-100%);
  transition: transform 0.3s cubic-bezier(0.9, 1.33, 0.51, 0.9);
}

.header {
  transform: translateY(0);
  transition: transform 0.3s cubic-bezier(0.9, 1.33, 0.51, 0.9);
  position: fixed;
  width: 100vw;
  height: 60px;
  top: 0;
  left: 0;
  z-index: 3;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #6168a2;
}
.header__logo {
  height: 60px;
  width: 102px;
}
.header__burger {
  display: none;
  width: 30px;
  height: 30px;
  margin-right: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  left: 4vw;
  z-index: 4;
  top: 35px;
  transform: translateY(-50%);
}
.header__burger span {
  display: none;
  position: absolute;
  height: 10%;
  width: 100%;
  background: #fff;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
.header__burger span:nth-child(1) {
  top: 0px;
}
.header__burger span:nth-child(2), .header__burger span:nth-child(3) {
  top: 10px;
}
.header__burger span:nth-child(4) {
  top: 20px;
}
.header__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 50vw;
  text-decoration: none;
  font-size: 1.2em;
}
@media (max-width: 1000px) {
  .header__nav {
    width: 70vw;
    background-color: transparent;
  }
}
.header__nav__container {
  text-align: center;
}
.header__nav__container:hover .header__nav__container__text::before {
  width: 100%;
  background-color: #6168a2;
}
.header__nav__container__text {
  position: relative;
  text-decoration: none;
}
.header__nav__container__text--SOZO {
  font-size: 2.2em;
}
.header__nav__container__text:hover {
  color: #fff;
}
.header__nav__container__text::before {
  content: attr(data-text);
  position: absolute;
  width: 0;
  overflow: hidden;
  transition: 0.6s;
}
.header__nav div {
  display: flex;
  flex-direction: column;
}
.header__nav div:hover .header__nav__line {
  transform: scaleX(-100%);
  transition: transform 400ms;
}
.header__nav .header__nav__line {
  transform: scaleX(0%);
  transition: transform 400ms 200ms;
  height: 2px;
  background-color: #4d5383;
  justify-self: end;
}
.header a {
  color: #fff;
  text-align: center;
  font-family: "Jura";
}
.header--SOZO {
  font-size: 40px;
}
.header__function {
  padding-right: 10px;
}
.header__function img {
  height: 25px;
  transition: transform 200ms;
}
.header__function img:hover {
  transform: scale(1.2);
  transition: transform 200ms;
}
@media (max-width: 700px) {
  .header__logo {
    display: none;
  }
  .header__burger {
    display: block;
  }
  .header__burger span {
    display: block;
  }
  .header__nav {
    width: auto;
    position: fixed;
    left: 50%;
    transform: translate(-50%);
  }
  .header__nav__container__text--notSOZO {
    display: none;
  }
  .header__function img {
    height: 20px;
  }
}

.login-box-blur {
  z-index: 3;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%);
  transition: visibility 0s linear 0.3s, opacity 0.3s ease-in-out;
  height: 100%;
  width: 100%;
  background-color: #242026;
}
.login-box-blur.show {
  visibility: visible;
  opacity: 0.6;
  transition: visibility 0s linear 0s, opacity 0.3s ease-in-out;
}

.to-blur {
  filter: blur(0px);
}
.to-blur.show {
  filter: blur(1.5px);
}

.login-box {
  visibility: hidden;
  z-index: 4;
  position: fixed;
  opacity: 0;
  transition: visibility 0s linear 0.3s, opacity 0.3s ease-in-out;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: #242026;
  box-shadow: 0 15px 25px #6168a2;
  border-radius: 10px;
  font-family: "Montserrat";
}
@media (max-width: 400px) {
  .login-box {
    width: 95vw;
  }
}
.login-box.show {
  visibility: visible;
  opacity: 1;
  position: fixed;
  transition: opacity 0.3s ease-in-out, visibility 0s linear 0s;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}
.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}
.login-box .user-box label {
  margin-top: -20px;
  position: relative;
  left: 0;
  top: -60px;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}
.login-box .user-box input {
  position: relative;
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -85px;
  left: 0;
  color: #6168a2;
  font-size: 12px;
}

#submit {
  padding: 10px 20px;
  color: #FFF;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  letter-spacing: 4px;
  border: 1px solid #fff;
  margin: auto;
  background-color: #242026;
}

#submit:hover {
  background: #3a3f63;
  color: #fff;
  box-shadow: 0 0 2px #6168a2, 0 0 25px, 0 0 50px #6168a2, 0 0 100px #6168a2;
}

.button-form {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}
@media (max-width: 400px) {
  .button-form {
    flex-direction: column;
  }
  .button-form div {
    padding-top: 20px;
    width: 60vw !important;
  }
}

#register {
  font-size: 14px;
  text-decoration: none;
  color: #fff;
  margin: auto;
  width: 60%;
  text-align: center;
}

#register a {
  margin: auto;
  color: #6168a2;
  text-decoration: none;
}
#register a:hover {
  text-decoration: underline;
}

.mobile-only__nav {
  z-index: 2;
  position: fixed;
  left: 0;
  width: 100vw;
  top: 0;
  padding: 70px 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #6168a2;
  align-items: stretch;
  gap: 2rem;
  transform: translateX(-100%);
  transition: all 0.2s;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  opacity: 0.9;
}
.mobile-only__nav li {
  list-style: none;
  font-size: 5vw;
  color: white;
  font-family: "Jura";
}
.mobile-only__nav li a {
  display: flex;
  color: white;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}
.mobile-only__nav li a em {
  font-size: smaller;
  color: #cccccc;
}
.mobile-only__nav-open {
  transform: translateX(0%);
}

#burger.open span:nth-child(1) {
  top: 0px;
  width: 0%;
  left: 0;
}
#burger.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
#burger.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
#burger.open span:nth-child(4) {
  top: 0;
  width: 0%;
  left: 0;
}

.error-container {
  margin: 20vh auto;
  text-align: center;
  height: 40vh;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.error-container h1 {
  font-size: 48px;
  margin-bottom: 20px;
}
.error-container p {
  font-size: 1em;
}
.error-container a {
  display: inline-block;
  color: #000;
  text-decoration: none;
  font-size: 1.2em;
}
.error-container a:hover {
  color: #272a43;
}
.error-container div {
  display: flex;
  flex-direction: column;
  width: fit-content;
}
.error-container div:hover .header__nav__line {
  transform: scaleX(-100%);
  transition: transform 400ms;
}
.error-container div .header__nav__line {
  transform: scaleX(0%);
  transition: transform 400ms 200ms;
  height: 2px;
  background-color: #3a3f63;
  justify-self: end;
}

.carousel-item {
  position: relative;
  top: 60px;
  max-height: 100vh;
}
.carousel-caption {
  padding-bottom: 20rem !important;
}
.carousel-caption:hover {
  color: inherit;
}
.carousel-caption a {
  padding: 20px 30px;
  text-decoration: none;
  background-color: #6168a2;
  font-family: "Jura";
  color: #fff;
  border-radius: 50px;
}
@media (max-width: 700px) {
  .carousel-caption {
    padding-bottom: 7rem !important;
  }
  .carousel-caption a {
    padding: 8px 20px;
    font-size: 0.6em;
  }
  .carousel-caption a div {
    width: 70vw;
  }
}
.carousel-btn {
  color: #fff;
  border-radius: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
  outline: none;
  border: 0;
  padding: 15px 50px;
  overflow: hidden;
  transition: all 0.5s;
}
.carousel-btn:before {
  content: attr(data-hover);
  position: absolute;
  top: 1.1em;
  left: 0;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 800;
  font-size: 1em;
  opacity: 0;
  transform: translate(-100%, 0);
  transition: all 0.3s ease-in-out;
}
.carousel-btn:hover {
  cursor: pointer;
  box-shadow: 0px 4px 4px #3a3f63;
  color: #FFF;
}
.carousel-btn:hover:before {
  opacity: 1;
  transform: translate(0, 0);
}
.carousel-btn:hover div {
  opacity: 0;
  transform: translate(100%, 0);
}
.carousel-btn div {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 800;
  font-size: 0.8em;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 700px) {
  .carousel-indicators {
    visibility: hidden;
  }
}

.main {
  font-family: "Jura";
  background-color: #FFF;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}
.main__img {
  height: 30vh;
}
.main__p {
  text-align: center;
  width: 75vw;
  font-size: 1.2em;
}

.register {
  font-family: "Jura";
  margin-top: 80px;
}
.register .register__box__img_1 {
  position: absolute;
  top: 65%;
  left: 95%;
  cursor: pointer;
}
.register .register__box__img_1 img {
  height: 20px;
}
.register .register__box__img_1--show {
  position: inherit;
  top: 0;
  visibility: hidden;
}
.register .register__box__img_1--show.show {
  visibility: visible;
}
.register .register__box__img_1--hide {
  position: inherit;
  top: 0;
}
.register .register__box__img_1--hide.show {
  visibility: hidden;
}
.register .register__box__img_2 {
  position: absolute;
  top: 78%;
  left: 95%;
  cursor: pointer;
}
.register .register__box__img_2 img {
  height: 20px;
}
.register .register__box__img_2--show {
  position: inherit;
  top: 0;
  visibility: hidden;
}
.register .register__box__img_2--show.show {
  visibility: visible;
}
.register .register__box__img_2--hide {
  position: inherit;
  top: 0;
}
.register .register__box__img_2--hide.show {
  visibility: hidden;
}
.register #submit-register {
  padding: 10px 20px;
  color: #FFF;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  letter-spacing: 4px;
  border: 1px solid #fff;
  margin: auto;
  background-color: #242026;
}
.register #submit-register:hover {
  background: #3a3f63;
  color: #fff;
  box-shadow: 0 0 2px #6168a2, 0 0 25px, 0 0 50px #6168a2, 0 0 100px #6168a2;
}
.register__text {
  position: relative;
  padding-left: 2%;
}
@media (max-width: 700px) {
  .register__text {
    width: 80vw;
  }
}
.register__box {
  margin: 50px 0;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  width: 50vw;
  margin-top: 40px;
  color: black;
  font-family: "Montserrat";
}
.register__box h2 {
  font-size: 3em;
  padding-bottom: 30px;
  color: black;
  text-align: center;
}
.register__box__input label {
  position: relative;
  top: -80px;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #4d5383;
  pointer-events: none;
  transition: 0.5s;
}
.register__box__input input {
  position: relative;
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #4d5383;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1.5px solid black;
  outline: none;
  background: transparent;
}
.register__box__input--btn {
  display: flex;
  align-items: center;
}
.register__box__input--btn input {
  padding: 20px 50px !important;
  font-size: 1.5em !important;
}
.register__box .register__box__dialogue {
  padding: 5px;
  display: flex;
  position: absolute;
  left: 53vw;
  width: 20vw;
  color: #f4f4f4;
  background-color: #3a3f63;
}
@media (max-width: 700px) {
  .register__box {
    width: 80vw;
  }
}

.register__box .register__box__input input:focus ~ label,
.register__box .register__box__input input:valid ~ label {
  top: -100px;
  left: 0;
  color: #141623;
  font-size: 15px;
}

.footer {
  padding: 50px 0;
  background-color: #1a1a1a;
  margin: 0;
  height: auto;
  font-family: "Jura";
  display: flex;
  justify-content: space-between;
  color: #FFF;
}
@media (max-width: 700px) {
  .footer {
    flex-direction: column;
    align-items: center;
    height: auto;
    width: auto;
  }
  .footer > * {
    height: auto;
    width: auto !important;
  }
  .footer__middle ul li a {
    text-decoration: underline !important;
  }
}
.footer h2 {
  padding: 20px 0;
}
.footer__left {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 33vw;
}
.footer__middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33vw;
}
.footer__middle ul {
  padding: 0;
}
.footer__middle ul li {
  list-style-type: none;
  display: flex;
  justify-content: center;
}
.footer__middle ul li a {
  text-decoration: none;
  color: #fff;
}
.footer__middle ul li a:hover {
  text-decoration: underline;
}
.footer__right {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33vw;
}
.footer__right p {
  width: 75%;
  text-align: center;
}
.footer__right ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 50%;
}
.footer__right ul li a svg {
  height: 50px;
  color: #fff;
}

/*# sourceMappingURL=main.css.map */
