$color-primary:#6168a2;

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('woff2'),
      url('../fonts/Montserrat/static/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Lily_Script_One';
  src: url('../fonts/Lily_Script_One/LilyScriptOne-Regular.ttf') format('woff2');
}

@font-face {
  font-family: "Jura";
  src: url("../fonts/Jura/static/Jura-SemiBold.ttf") format("woff2");
}

  
* {
  text-decoration: none;
  box-sizing: border-box;
}

body {
  &.show {
    overflow: hidden;
  }
}

#header.hide {
  transform: translateY(-100%);
  transition: transform 0.3s cubic-bezier(.9,1.33,.51,.9);
}

.header {
  transform: translateY(0);
  transition: transform 0.3s cubic-bezier(.9,1.33,.51,.9);
  position:fixed;
  width: 100vw;
  height: 60px;
  top: 0;
  left: 0;
  z-index: 3;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: $color-primary;


  &__logo {
    height: 60px;
    width: 102px;
  }

  &__burger {
    display: none;
    width: 30px;
    height: 30px;
    margin-right: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    left: 4vw;
    z-index: 4;
    top: 35px;
    transform: translateY(-50%);
    span {
      display: none;
      position: absolute;
      height: 10%;
      width: 100%;
      background: #fff;
      border-radius: 9px;
      opacity: 1;
      left: 0;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .25s ease-in-out;
      -moz-transition: .25s ease-in-out;
      -o-transition: .25s ease-in-out;
      transition: .25s ease-in-out;
      &:nth-child(1){
        top:0px;
      }
      &:nth-child(2),
      &:nth-child(3){
        top:10px
      }
      &:nth-child(4){
        top: 20px;
      }
    }
  }

  &__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 50vw;
    text-decoration: none;
    font-size: 1.2em;

    @media (max-width:1000px) {
      width: 70vw;
      background-color: transparent;
    }
    
    &__container{
      text-align: center;
      &:hover .header__nav__container__text::before {
        width: 100%;
        background-color: $color-primary;
      }
      &__text {
        position: relative;
        text-decoration: none;
        &--SOZO {
          font-size: 2.2em;
        }
        &:hover {
          color: #fff;
        }
        
        &::before {
        content: attr(data-text);
        position:absolute;
        width: 0;
        overflow: hidden;
        transition: 0.6s;
        
        }
      }
    }

    div {
      display: flex;
      flex-direction: column;

      &:hover{ 
        .header__nav__line{
        transform: scaleX(-100%);
        transition: transform 400ms;
        }
        
        }
      }
      
      .header__nav__line {
        transform: scaleX(0%);
        transition: transform 400ms 200ms;
        height: 2px;
        background-color: darken($color-primary, 10%);
        justify-self: end;
      }
    }
    a {
      color: #fff;
      text-align: center;
      font-family: 'Jura';
    }
    &--SOZO {
      font-size: 40px;
    }

  &__function {
    padding-right: 10px;
    img {
      height: 25px;
      transition: transform 200ms;
      &:hover {
        transform: scale(1.2);
        transition: transform 200ms;
      }
    }
  }

  @media (max-width:700px) {

    &__logo {
      display: none;
    }
    &__burger {
      display:block;
      span {
        display: block;
      }
    }
    &__nav {
      width:auto;
      position: fixed;
      left: 50%;
      transform: translate(-50%);
      &__container__text--notSOZO {
      display: none;
      
      }
    }
    &__function {
      img {
        height: 20px;
      }
    }
  }
}

.login-box-blur{

  z-index: 3;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%);
  transition:visibility 0s linear 0.3s, opacity 0.3s ease-in-out;
  height: 100%;
  width: 100%;
  background-color: #242026;
  &.show {
    visibility: visible;
    opacity: 0.6;
    transition:visibility 0s linear 0s, opacity 0.3s ease-in-out;
  }
}

.to-blur {
  filter: blur(0px);
  &.show {
    filter: blur(1.5px);
  }
}

.login-box {
  visibility: hidden;
  z-index: 4;
  position: fixed;
  opacity: 0;
  transition:visibility 0s linear 0.3s, opacity 0.3s ease-in-out;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: #242026;
  box-shadow: 0 15px 25px $color-primary;
  border-radius: 10px;
  font-family: 'Montserrat';
@media (max-width: 400px) {
  width: 95vw;
}

  &.show {
    visibility: visible;
    opacity: 1;
    position: fixed;
    transition: opacity 0.3s ease-in-out, visibility 0s linear 0s;;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
  }

  h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
  }
  .user-box {
    label {
      margin-top: -20px;
      position: relative;
      left: 0;
      top: -60px;
      padding: 10px 0;
      font-size: 16px;
      color: #fff;
      pointer-events: none;
      transition: .5s;
    }
    input {
      position: relative;
      width: 100%;
      padding: 10px 0;
      font-size: 16px;
      color: #fff;
      margin-bottom: 30px;
      border: none;
      border-bottom: 1px solid #fff;
      outline: none;
      background: transparent;
    }
  }
}

.login-box .user-box input:focus~label,
.login-box .user-box input:valid~label {
  top: -85px;
  left: 0;
  color: $color-primary;
  font-size: 12px;
}

#submit {
  padding: 10px 20px;
  color: #FFF;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  letter-spacing: 4px;
  border: 1px solid #fff;
  margin: auto;
  background-color: #242026;
}

#submit:hover {
  background: darken($color-primary, 20%);
  color: #fff;
  box-shadow: 0 0 2px $color-primary, 0 0 25px , 0 0 50px $color-primary, 0 0 100px $color-primary;
}

.button-form {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  @media (max-width:400px) {
    flex-direction: column;
    div {
      padding-top: 20px;
      width: 60vw !important;
    }
  }
}

#register {
  font-size: 14px;
  text-decoration: none;
  color: #fff;
  margin: auto;
  width: 60%;
  text-align: center;
}

#register a {
  margin: auto;
  color: $color-primary;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.mobile-only {
  &__nav {
  z-index: 2;
  position:fixed;
  left: 0;
  width: 100vw;
  top: 0;
  padding: 70px 0;

  display: flex;
  flex-direction: column;

  height: 100%;
  background-color: $color-primary;
  align-items: stretch;
  gap: 2rem;
  transform: translateX(-100%);
  transition: all 0.2s;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  opacity: 0.9;
  li {
    list-style: none;
    font-size: 5vw;
    color: white;
    font-family: 'Jura';
    a {
      display: flex;
      color: white;
      flex-direction: column;
      align-items: center;
      text-decoration: none;
      em {
        font-size: smaller;
        color: darken(#fff, 20%);
      }
    }
  }


  &-open {
    transform: translateX(0%);
    }
  }
}

#burger.open span{
  &:nth-child(1){
    top: 0px;
    width: 0%;
    left: 0;
  }
  &:nth-child(2){
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  &:nth-child(3){
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  &:nth-child(4){
    top: 0;
    width: 0%;
    left: 0;
  } 
}
// ---------------------------------------
// ------- handling the 404 error --------
// ---------------------------------------
.error-container {
  margin: 20vh auto;
  text-align: center;
  height: 40vh;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  h1 {
    font-size: 48px;
    margin-bottom: 20px;
  }

  p {
    font-size: 1em;
  }

  a {
    display: inline-block;
    color: #000;
    text-decoration: none;
    font-size: 1.2em;

    &:hover {
      color: darken($color-primary, 30);
    }
  }

  div {
    display: flex;
    flex-direction: column;
    width: fit-content;

    &:hover{ 
      .header__nav__line{
        transform: scaleX(-100%);
        transition: transform 400ms;
        }
      }
    
    .header__nav__line {
      transform: scaleX(0%);
      transition: transform 400ms 200ms;
      height: 2px;
      background-color: darken($color-primary, 20%);
      justify-self: end;
    }
  }
}

// ---------------------------------------
// ---- style for the index page ---------
// ---------------------------------------
.carousel {
  &-item{
  position: relative;
  top:60px;
  // min-height: 230px;
  max-height: 100vh;
  }
  &-caption {
    padding-bottom: 20rem !important;
    &:hover {
      color: inherit;
    }
    a {
      padding: 20px 30px;
      text-decoration: none;
      background-color: $color-primary;
      font-family: 'Jura';
      color: #fff;
      border-radius: 50px;
    }
    @media (max-width:700px){
      padding-bottom: 7rem !important;
      a {
        padding: 8px 20px;
        font-size: 0.6em;
        div {
          width: 70vw;
        }
      }
    }
  }
  &-btn {
    color: #fff;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
    outline: none;
    border: 0;
    padding: 15px 50px;
    overflow: hidden;
    transition: all 0.5s;
    &:before {
      content: attr(data-hover);
      position: absolute;
      top: 1.1em;
      left: 0;
      width: 100%;
      text-transform: uppercase;
      letter-spacing: 3px;
      font-weight: 800;
      font-size: 1em;
      opacity: 0;
      transform: translate(-100%, 0);
      transition: all .3s ease-in-out;
    }
    &:hover {
      cursor: pointer;
      box-shadow: 0px 4px 4px darken($color: $color-primary, $amount: 20%);
      color: #FFF;
      &:before {
        opacity: 1;
        transform: translate(0, 0);
      }
      div {
        opacity: 0;
        transform: translate(100%, 0)
      }
    }
    div {
      text-transform: uppercase;
      letter-spacing: 3px;
      font-weight: 800;
      font-size: .8em;
      transition: all .3s ease-in-out;
    }
  }
  &-indicators {
    @media (max-width: 700px) {
      visibility: hidden;
    }
  }
}

.main {
  font-family: 'Jura';
  background-color: #FFF;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
  &__img {
    height: 30vh;
  }
  &__p {
    text-align: center;
    width: 75vw;
    font-size: 1.2em;
  }
}


// ---------------------------------------
// ---- style for the register page ------
// ---------------------------------------
.register {

  #submit-register {
    padding: 10px 20px;
    color: #FFF;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    letter-spacing: 4px;
    border: 1px solid #fff;
    margin: auto;
    background-color: #242026;
  }
  
  #submit-register:hover {
    background: darken($color-primary, 20%);
    color: #fff;
    box-shadow: 0 0 2px $color-primary, 0 0 25px , 0 0 50px $color-primary, 0 0 100px $color-primary;
  }

  font-family: "Jura";
  margin-top: 80px;

  &__text{
    position: relative;
    padding-left: 2%;

    @media (max-width: 700px) {
      width: 80vw;
    }
  }

  &__box {
    // border: 2px black solid;

    margin: 50px 0;
    position: relative;
    left: 50%;
    transform: translate(-50%);

    width: 50vw;
    margin-top: 40px;

    color: black;
    font-family: 'Montserrat';

    h2 {
      font-size: 3em;
      padding-bottom: 30px;
      color: black;
      text-align: center;
    }
    &__input {
      label {
        position: relative;
        top: -80px;
        left: 0;
        padding: 10px 0;
        font-size: 16px;
        color: darken($color-primary, 10);
        pointer-events: none;
        transition: .5s;
      }

      input {
        position: relative;
        width: 100%;
        padding: 10px 0;
        font-size: 16px;
        color: darken($color-primary, 10);
        margin-bottom: 30px;
        border: none;
        border-bottom: 1.5px solid black;
        outline: none;
        background: transparent;
      }
      
      &--btn {
        display: flex;
        align-items: center;
        input {
          padding: 20px 50px !important;
          font-size: 1.5em !important;
        }
      }
    }

    .register__box__dialogue{
      position: absolute;
      left: 53vw;
      width: 20vw;
      color: #f4f4f4;
      background-color: darken($color-primary, 20);
    }

    @media (max-width: 700px) {
      width: 80vw;
    }
  }
}

.register__box .register__box__input input:focus~label,
.register__box .register__box__input input:valid~label {
  top: -100px;
  left: 0;
  color: darken($color-primary, 40);
  font-size: 15px;
}

// ---------------------------------------
// ------- style for the footer  ---------
// ---------------------------------------

.footer {
  padding: 50px 0;
  background-color: lighten($color: #000, $amount: 10%);
  margin: 0;
  height: auto;
  font-family: 'Jura';
  display: flex;
  justify-content: space-between;
  color: #FFF;

  @media (max-width:700px) {
    flex-direction: column;
    align-items: center;
    height: auto;
    width: auto;
    &>* {
      height: auto;
      width: auto !important;
    }
    &__middle ul li a {
      text-decoration: underline !important;
    }
  }
  h2 {
    padding: 20px 0;
  }
  &__left {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 33vw;

  }
  &__middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33vw;
    ul {
      padding: 0;
      li {
        list-style-type: none;
        display: flex;
        justify-content: center;
        a{
          text-decoration: none;
          color: #fff;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
  &__right {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33vw;
    p {
      width: 75%;
      text-align: center;
    }
    ul {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 50%;

      li a svg{
      height: 50px;
      color: #fff;
      
      }
    }
  }
}