$color-primary:#6168a2;

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('woff2'),
      url('../fonts/Montserrat/static/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Lily_Script_One';
  src: url('../fonts/Lily_Script_One/LilyScriptOne-Regular.ttf') format('woff2');
}

@font-face {
  font-family: "Jura";
  src: url("../fonts/Jura/static/Jura-SemiBold.ttf") format("woff2");
}

  
* {
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Jura';
}

body {
  &.show {
    overflow: hidden;
  }
}

#header.hide {
  transform: translateY(-100%);
  transition: transform 0.3s cubic-bezier(.9,1.33,.51,.9);
}

.header {
  transform: translateY(0);
  transition: transform 0.3s cubic-bezier(.9,1.33,.51,.9);
  position:fixed;
  width: 100vw;
  height: 60px;
  top: 0;
  left: 0;
  z-index: 3;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: $color-primary;


  &__logo {
    height: 60px;
    width: 102px;
  }

  &__burger {
    display: none;
    width: 30px;
    height: 30px;
    margin-right: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    left: 4vw;
    z-index: 4;
    top: 35px;
    transform: translateY(-50%);
    span {
      display: none;
      position: absolute;
      height: 10%;
      width: 100%;
      background: #fff;
      border-radius: 9px;
      opacity: 1;
      left: 0;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .25s ease-in-out;
      -moz-transition: .25s ease-in-out;
      -o-transition: .25s ease-in-out;
      transition: .25s ease-in-out;
      &:nth-child(1){
        top:0px;
      }
      &:nth-child(2),
      &:nth-child(3){
        top:10px
      }
      &:nth-child(4){
        top: 20px;
      }
    }
  }

  &__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 50vw;
    text-decoration: none;
    font-size: 1.2em;

    @media (max-width:1000px) {
      width: 70vw;
      background-color: transparent;
    }
    
    &__container{
      text-align: center;
      &:hover .header__nav__container__text::before {
        width: 100%;
        background-color: $color-primary;
      }
      &__text {
        position: relative;
        text-decoration: none;
        &--SOZO {
          font-size: 2.2em;
        }
        &:hover {
          color: #fff;
        }
        
        &::before {
        content: attr(data-text);
        position:absolute;
        width: 0;
        overflow: hidden;
        transition: 0.6s;
        
        }
      }
    }

    div {
      display: flex;
      flex-direction: column;

      &:hover{ 
        .header__nav__line{
        transform: scaleX(-100%);
        transition: transform 400ms;
        }
        
        }
      }
      
      .header__nav__line {
        transform: scaleX(0%);
        transition: transform 400ms 200ms;
        height: 2px;
        background-color: darken($color-primary, 10%);
        justify-self: end;
      }
    }
    a {
      color: #fff;
      text-align: center;
    }
    &--SOZO {
      font-size: 40px;
    }

  &__btn {
    margin-right: 30px;
    &__profile {
      background-color: $color-primary;
      border: none;
      &--connected {
        background-color: $color-primary;
        border: 2px solid lighten(#000, 20%);
        width: 40px;
        height: 40px;
        border-radius: 100%;
      }
      &--cart {
        background-color: $color-primary;
        border: none;
        height: 50px;
      }
    }
    img {
      height: 25px;
      transition: transform 200ms;
      &:hover {
        transform: scale(1.2);
        transition: transform 200ms;
      }
    }
  }

  @media (max-width:700px) {

    &__logo {
      display: none;
    }
    &__burger {
      display:block;
      span {
        display: block;
      }
    }
    &__nav {
      width:auto;
      position: fixed;
      left: 50%;
      transform: translate(-50%);
      &__container__text--notSOZO {
      display: none;
      
      }
    }
    &__function {
      img {
        height: 20px;
      }
    }
  }
}

.login-box-blur{

  z-index: 3;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%);
  transition:visibility 0s linear 0.3s, opacity 0.3s ease-in-out;
  height: 100%;
  width: 100%;
  background-color: #242026;
  &.show {
    visibility: visible;
    opacity: 0.6;
    transition:visibility 0s linear 0s, opacity 0.3s ease-in-out;
  }
}

.to-blur {
  filter: blur(0px);
  &.show {
    filter: blur(1.5px);
  }
}

.login-box {
  visibility: hidden;
  z-index: 4;
  position: fixed;
  opacity: 0;
  transition:visibility 0s linear 0.3s, opacity 0.3s ease-in-out;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: #242026;
  box-shadow: 0 15px 25px $color-primary;
  border-radius: 10px;
@media (max-width: 400px) {
  width: 95vw;
}

  &.show {
    visibility: visible;
    opacity: 1;
    position: fixed;
    transition: opacity 0.3s ease-in-out, visibility 0s linear 0s;;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
  }

  h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
  }
  &__input {
    label {
      margin-top: -20px;
      position: relative;
      left: 0;
      top: -60px;
      padding: 10px 0;
      font-size: 16px;
      color: #fff;
      pointer-events: none;
      transition: .5s;
    }
    input {
      position: relative;
      width: 100%;
      padding: 10px 0;
      font-size: 16px;
      color: #fff;
      margin-bottom: 30px;
      border: none;
      border-bottom: 1px solid #fff;
      outline: none;
      background: transparent;
    }
    &__img {
      position: absolute;
      left: 83%;
      top: 51%;
      cursor: pointer;
      img {
        background-color: #242026;
        height: 20px;
        fill: #FFF;
      }
      @media (max-width:700px) {
      }
      &--show{
        position: inherit;
        top: 0;
        visibility: hidden;
        &.show {
          visibility: visible;
        }
      }
      &--hide{
        position: inherit;
        top: 0;
        &.show {
          visibility: hidden;
        }
      }
    }
    &__slider {
      position: relative;
      padding: 5px 0;
      input {
        margin: 0px;
        margin-top: 1px;
        cursor: pointer;
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        -moz-opacity: 0;
        -khtml-opacity: 0;
        opacity: 0;
        position: absolute;
        z-index: 1;
        top: 0px;
        left: 0px;
        background: red;
        width: 40px;
        height: 20px;
        &:checked + .label {
          &:before {
            background-color: $color-primary;
            content: "\002714";
            padding-left: 6px;
          }
          &:after {
            left: 21px;
          }
        }
        
      }
      .label {
        @media (max-width:700px) {
          font-size: 0.8em;
        }
        position: relative;
        padding-left: 46px;
        color: #FFF;
        &:before, &:after {
          position: absolute;
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          border-radius: 10px;
          transition: background-color 0.3s, left 0.3s;
        }
        &:before {
          content: "\002716";
          color: #fff;
          box-sizing: border-box;
          font-family: 'FontAwesome', sans-serif;
          padding-left: 23px;
          font-size: 12px;
          line-height: 20px;
          background-color: grey;
          left: 0px;
          top: 0px;
          height: 20px;
          width: 40px;
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          border-radius: 10px;
        }
        &:after {
          content: "";
          letter-spacing: 20px;
          background: #fff;
          left: 1px;
          top: 1px;
          height: 18px;
          width: 18px;
        }
        a {
          color:#000;
        }
      }
    }
    &__btn {
      display: flex;
      flex-direction: row;
      margin-top: 20px;
      @media (max-width:400px) {
        flex-direction: column;
        div {
          padding-top: 20px;
          width: 60vw !important;
        }
      }
      &--submit {
        padding: 10px 20px;
        color: #FFF;
        font-size: 16px;
        text-decoration: none;
        text-transform: uppercase;
        overflow: hidden;
        transition: .5s;
        letter-spacing: 4px;
        border: 1px solid #fff;
        margin: auto;
        background-color: #242026;
        &:hover {
          background: darken($color-primary, 20%);
          color: #fff;
          box-shadow: 0 0 2px $color-primary, 0 0 25px , 0 0 50px $color-primary, 0 0 100px $color-primary;
        }
      }
      &--register {
        font-size: 14px;
        text-decoration: none;
        color: #fff;
        margin: auto;
        width: 60%;
        text-align: center;
        a {
          margin: auto;
          color: $color-primary;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
  .login-box__input input:focus~label,
  .login-box__input input:valid~label {
    top: -85px;
    left: 0;
    color: $color-primary;
    font-size: 12px;
  }
}

.logged-box-blur{

  z-index: 3;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%);
  transition:visibility 0s linear 0.3s, opacity 0.3s ease-in-out;
  height: 100%;
  width: 100%;
  background-color: #242026;
  &.show {
    visibility: visible;
    opacity: 0.6;
    transition:visibility 0s linear 0s, opacity 0.3s ease-in-out;
  }
}


.logged-box {
  visibility: hidden;
  z-index: 4;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  opacity: 0;
  transition:visibility 0s linear 0.3s, opacity 0.3s ease-in-out;
  top: 50%;
  left: 50%;
  width: 700px;
  padding: 40px;
  transform: translate(-50%, -50%);
  color: #FFF;
  background: #242026;
  box-shadow: 0 15px 25px $color-primary;
  border-radius: 10px;

  .logged-box-img{
    height: 300px;
  }

  .logged-box-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  @media (max-width: 700px) {
    width: 95vw;
    .logged-box-text {
      width: 100%;
    }
    .logged-box-img{
      display: none;
    }
  }

  &.show {
    visibility: visible;
    opacity: 1;
    position: fixed;
    transition: opacity 0.3s ease-in-out, visibility 0s linear 0s;;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
  }

  h3 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
  }
  a {
    text-decoration: none;
    color: #FFF;
    padding: 20px 0;
    &:hover {
      text-decoration: underline;
      color: #FFF;
    }
  }
  form {
    margin-top: 30px !important;
    width: 80%;
    color: #FFF;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    letter-spacing: 4px;
    border: 1px solid #fff;
    //margin: auto;
    background-color: #242026;
    input {
      position: relative;
      width: 100%;
      padding: 10px 0;
      font-size: 16px;
      color: #fff;
      border: none;
      outline: none;
      background: transparent;
    }
    &:hover {
      background: darken($color-primary, 20%);
      color: #fff;
      box-shadow: 0 0 2px $color-primary, 0 0 25px , 0 0 50px $color-primary, 0 0 100px $color-primary;
    }
  }
}

.mobile-only {
  &__nav {
  z-index: 2;
  position:fixed;
  left: 0;
  width: 100vw;
  top: 0;
  padding: 70px 0;

  display: flex;
  flex-direction: column;

  height: 100%;
  background-color: $color-primary;
  align-items: stretch;
  gap: 2rem;
  transform: translateX(-100%);
  transition: all 0.2s;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  opacity: 0.9;
  li {
    list-style: none;
    font-size: 5vw;
    color: white;
    a {
      display: flex;
      color: white;
      flex-direction: column;
      align-items: center;
      text-decoration: none;
      em {
        font-size: smaller;
        color: darken(#fff, 20%);
      }
    }
  }


  &-open {
    transform: translateX(0%);
    }
  }
}

#burger.open span{
  &:nth-child(1){
    top: 0px;
    width: 0%;
    left: 0;
  }
  &:nth-child(2){
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  &:nth-child(3){
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  &:nth-child(4){
    top: 0;
    width: 0%;
    left: 0;
  } 
}
// ---------------------------------------
// ------- handling the 404 error --------
// ---------------------------------------
.error-container {
  margin: 20vh auto;
  text-align: center;
  height: 40vh;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  h1 {
    font-size: 48px;
    margin-bottom: 20px;
  }

  p {
    font-size: 1em;
  }

  a {
    display: inline-block;
    color: #000;
    text-decoration: none;
    font-size: 1.2em;

    &:hover {
      color: darken($color-primary, 30);
    }
  }

  div {
    display: flex;
    flex-direction: column;
    width: fit-content;

    &:hover{ 
      .header__nav__line{
        transform: scaleX(-100%);
        transition: transform 400ms;
        }
      }
    
    .header__nav__line {
      transform: scaleX(0%);
      transition: transform 400ms 200ms;
      height: 2px;
      background-color: darken($color-primary, 20%);
      justify-self: end;
    }
  }
}
// ---------------------------------------
// ------ handling the unsubscribe -------
// ---------------------------------------
.unsubscribe-container {
  margin: 20vh auto;
  text-align: center;
  height: 40vh;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  &__form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    &--email {
      width: 20vw;
      padding: 20px 30px;
      font-size: 1.2em;
      border: 1px solid black;
    }
    &--submit {
      width: 20vw;
      padding: 10px 20px;
      color: #FFF;
      font-size: 16px;
      text-decoration: none;
      text-transform: uppercase;
      overflow: hidden;
      transition: .5s;
      letter-spacing: 4px;
      border: 1px solid #000;
      margin: auto;
      background-color: #242026;
      &:hover {
        background: darken($color-primary, 20%);
        color: #fff;
        box-shadow: 0 0 2px $color-primary, 0 0 25px , 0 0 50px $color-primary, 0 0 100px $color-primary;
      }
    }
  }
}
// ---------------------------------------
// ---- style for the index page ---------
// ---------------------------------------
.carousel {
  &-item{
  position: relative;
  top:60px;
  // min-height: 230px;
  max-height: 100vh;
  }
  &-caption {
    padding-bottom: 20rem !important;
    &:hover {
      color: inherit;
    }
    a {
      padding: 20px 30px;
      text-decoration: none;
      background-color: $color-primary;
      color: #fff;
      border-radius: 50px;
    }
    @media (max-width:700px){
      padding-bottom: 7rem !important;
      a {
        padding: 8px 20px;
        font-size: 0.6em;
        div {
          width: 70vw;
        }
      }
    }
  }
  &-btn {
    color: #fff;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
    outline: none;
    border: 0;
    padding: 15px 50px;
    overflow: hidden;
    transition: all 0.5s;
    &:before {
      content: attr(data-hover);
      position: absolute;
      top: 1.1em;
      left: 0;
      width: 100%;
      text-transform: uppercase;
      letter-spacing: 3px;
      font-weight: 800;
      font-size: 1em;
      opacity: 0;
      transform: translate(-100%, 0);
      transition: all .3s ease-in-out;
    }
    &:hover {
      cursor: pointer;
      box-shadow: 0px 4px 4px darken($color: $color-primary, $amount: 20%);
      color: #FFF;
      &:before {
        opacity: 1;
        transform: translate(0, 0);
      }
      div {
        opacity: 0;
        transform: translate(100%, 0)
      }
    }
    div {
      text-transform: uppercase;
      letter-spacing: 3px;
      font-weight: 800;
      font-size: .8em;
      transition: all .3s ease-in-out;
    }
  }
  &-indicators {
    @media (max-width: 700px) {
      visibility: hidden;
    }
  }
  &-control {
    transform: translateY(60px);
    height: calc(100% - 60px);
  }
}

.main {
  background-color: #FFF;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
  &__img {
    height: 30vh;
  }
  &__p {
    text-align: center;
    width: 75vw;
    font-size: 1.2em;
  }
}

.collection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img {
    max-width: 50vw ;
  }
}
#newsletter-popup {
  display: none;
  position: fixed;
  bottom: 1%;
  left: 1%;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
  z-index: 999;
}

#newsletter-popup h2 {
  font-size: 18px;
  margin: 0 0 10px;
}

#newsletter-popup form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#newsletter-popup input[type="email"] {
  width: 70%;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #cccccc;
  margin-right: 10px;
}

#newsletter-popup button[type="submit"] {
  background-color: #3388ff;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

#newsletter-popup .close {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}  
.newsletter {
  background-image: url(../images/main/background.png);
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #FFF;
  h2 {
    font-size: 2em;
  }
  p {
    padding: 30px 0;
    font-size: 1.2em;
  }
  &__form {
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 600px;
    @media (max-width:800px){
      width: 60vw;
      input {
        padding: 5px 10px !important;
      }
    }
    @media (max-width:1300px){
      input {
        padding: 5px 10px !important;
      }
    }
    input {
      border: none;
      border-radius: 30px;
      padding: 20px 30px;
      &:focus {
        outline: none !important;
      }
    }
  }
}
// ---------------------------------------
// ---- style for the register page ------
// ---------------------------------------
.register {
  margin-top: 80px;

  &__text{
    position: relative;
    padding-left: 2%;

    @media (max-width: 700px) {
      width: 80vw;
    }
  }

  &__box {
    margin: 50px 0;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 50vw;
    margin-top: 40px;
    color: black;
    h2 {
      font-size: 3em;
      padding-bottom: 30px;
      color: black;
      text-align: center;
    }
    &__input {
      label {
        position: relative;
        top: -80px;
        left: 0;
        padding: 10px 0;
        font-size: 16px;
        color: darken($color-primary, 10);
        pointer-events: none;
        transition: .5s;
      }

      input {
        position: relative;
        width: 100%;
        padding: 10px 0;
        font-size: 16px;
        color: darken($color-primary, 10);
        margin-bottom: 30px;
        border: none;
        border-bottom: 1.5px solid black;
        outline: none;
        background: transparent;
      }
      &--checkbox {
        .slider-checkbox {
          position: relative;
          padding: 5px 0;
          input {
            margin: 0px;
            margin-top: 1px;
            cursor: pointer;
            opacity: 0;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
            filter: alpha(opacity=0);
            -moz-opacity: 0;
            -khtml-opacity: 0;
            opacity: 0;
            position: absolute;
            z-index: 1;
            top: 0px;
            left: 0px;
            background: red;
            width: 40px;
            height: 20px;
            &:checked + .label {
              &:before {
                background-color: $color-primary;
                content: "\002714";
                padding-left: 6px;
              }
              &:after {
                left: 21px;
              }
            }
            
          }
          .label {
            @media (max-width:700px) {
              font-size: 0.8em;
            }
            position: relative;
            padding-left: 46px;
            &:before, &:after {
              position: absolute;
              -webkit-border-radius: 10px;
              -moz-border-radius: 10px;
              border-radius: 10px;
              transition: background-color 0.3s, left 0.3s;
            }
            &:before {
              content: "\002716";
              color: #fff;
              box-sizing: border-box;
              font-family: 'FontAwesome', sans-serif;
              padding-left: 23px;
              font-size: 12px;
              line-height: 20px;
              background-color: grey;
              left: 0px;
              top: 0px;
              height: 20px;
              width: 40px;
              -webkit-border-radius: 10px;
              -moz-border-radius: 10px;
              border-radius: 10px;
            }
            &:after {
              content: "";
              letter-spacing: 20px;
              background: #fff;
              left: 1px;
              top: 1px;
              height: 18px;
              width: 18px;
            }
            a {
              color:#000;
            }
          }
        }
      }
      &--btn {
        margin: 20px 0;
        display: flex;
        align-items: center;
        &--submit {
          padding: 10px 20px;
          color: #FFF;
          font-size: 16px;
          text-decoration: none;
          text-transform: uppercase;
          overflow: hidden;
          transition: .5s;
          letter-spacing: 4px;
          border: 1px solid #fff;
          margin: auto;
          background-color: #242026;
          &:hover {
            background: darken($color-primary, 20%);
            color: #fff;
            box-shadow: 0 0 2px $color-primary, 0 0 25px , 0 0 50px $color-primary, 0 0 100px $color-primary;
          }
        }
        input {
          padding: 20px 50px !important;
          font-size: 1.5em !important;
        }
      }
    }
    &__img_1 {
      position: absolute;
      top: 590px;
      left: 95%;
      @media (max-width:700px) {
      }
      cursor: pointer;
      img {
        height: 20px
      }
      &--show{
        position: inherit;
        top: 0;
        visibility: hidden;
        &.show {
          visibility: visible;
        }
      }
      &--hide{
        position: inherit;
        top: 0;
        &.show {
          visibility: hidden;
        }
      }
    }
  
    &__img_2 {    
      position: absolute;
      top: 710px;
      left: 95%;
      @media (max-width:700px) {
  
      }
      cursor: pointer;
      img {
        height: 20px
      }
      &--show{
        position: inherit;
        top: 0;
        visibility: hidden;
        &.show {
          visibility: visible;
        }
      }
      &--hide{
        position: inherit;
        top: 0;
        &.show {
          visibility: hidden;
        }
      }
    }
    .main-register__form__field--psw:focus + .password-validation {
      visibility: visible;
      opacity: 1;
      transition: opacity 0.3s;
    }
    .password-validation{
      visibility: hidden;
      opacity: 0;
      transition: opacity 0.3s, visibility 0.3s;
      position: fixed;
      font-size: 0.7em;
      width: 50vw !important;
      left: 50%;
      top:625px;
      transform: translate(-50%);
      border-radius: 5px;
      font-size: 0.7em;
      padding: 5px;
      color: #f4f4f4;
      background-color: lighten(#000, 20);
      ul {
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        list-style: none;
      }
      @media (max-width:700px) {
        font-size: 0.7em;
        width: 80vw !important;
        left: 50%;
        top:618px;
        transform: translate(-50%);
        z-index: 10;
        ul {
          flex-direction: column;
          list-style: none;
        }
      }
      @media (max-width:1000px) {
        font-size: 0.7em;
        width: 20vw;
      }
    }

    @media (max-width: 700px) {
      width: 80vw;
    }
    .register__box__input input:focus~label,
    .register__box__input input:valid~label {
      top: -100px;
      left: 0;
      color: darken($color-primary, 40);
      font-size: 15px;
    }
  }
}
// ---------------------------------------
// ------- style for the footer  ---------
// ---------------------------------------
footer {
  background-color: lighten($color: #000, $amount: 10%);
  height: auto;
  .footer {
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    color: #FFF;
    @media (max-width:1000px) {
      font-size: 0.8em;
      h2 {
        font-size: 1.5em;
      }
    }
    @media (max-width:700px) {
      flex-direction: column;
      align-items: center;
      height: auto;
      width: auto;
      &>* {
        height: auto;
        width: auto !important;
      }
      &__middle ul li a {
        text-decoration: underline !important;
      }
    }
    h2 {
      padding: 20px 0;
    }
    &__left {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      width: 33vw;

    }
    &__middle {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 33vw;
      ul {
        padding: 0;
        li {
          list-style-type: none;
          display: flex;
          justify-content: center;
          a{
            text-decoration: none;
            color: #fff;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
    &__right {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 33vw;
      p {
        width: 75%;
        text-align: center;
      }
    }
    &__bot {
      
      position: relative;
      width: 50%;
      left: 50%;
      transform: translate(-50%);
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #FFF;

      @media (max-width:800px) {
        width: 80%;
        ul {
          width: 70vw !important;
        }
      }
      ul {
        padding: 30px 0;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 50%;
        li a svg{
        transform: scale(1);
        transition: transform 0.2s;
        height: 30px;
        color: #fff;
        &:hover {
          transform: scale(1.2);
          transition: transform 0.2s;
        }
        }
      }
    }
  }
}