{% macro render_header() %}

<!-- form -->
<section>
    <!-- div element to hide the website -->
    <div class="login-box-blur" id="login-box-blur"></div>

    <div id="login-box" class="login-box">
        <h2>SE CONNECTER</h2>
        <form method="POST" action="login_process">
            <div class="login-box__input">
                <input type="text" id="" name="e-mail" required>
                <label>E-mail</label>
            </div>
            <div class="login-box__input">
                <input type="password" name="password" required>
                <label>Mot de passe</label>
                <div class="login-box__input__img">
                    <img id="login-box__input__img--hide" class="login-box__input__img--hide" src="../../static/images/header/eye-hide.webp" alt="profile logo" onclick="show_psw_log()">
                    <img id="login-box__input__img--show"  class="login-box__input__img--show" src="../../static/images/header/eye-show.webp" alt="profile logo" onclick="hide_psw_log()">
                </div>
            </div>

            <div class="login-box__input__slider">
                <input name="login_checkbox" type="checkbox" id="log_checkbox"/>
                <label class="label" for="log_checkbox">Rester connecté</label>
            </div>

            <div class="login-box__input__btn">
                <input type="submit" class="login-box__input__btn--submit" value="Valider">
                <div class="login-box__input__btn--register">
                    Pas encore de compte ?
                    <a href="{{ url_for('register')}}">S'inscrire</a>
                </div>

            </div>
        </form>
    </div>
</section>

<section>
    <div class="logged-box-blur" id="logged-box-blur"></div>
    <div id="logged-box" class="logged-box">
        <h2>Bonjour, {{session['prenom']}}</h2>
        <a href="#">Votre compte</a>
        <a href="#">Vos commandes</a>
        <form method="POST" action="logout_process"><input type="submit" value="Déconnexion"></form>
    </div>
</section>
<!----------------------------------------->
<!--------------- Header ------------------>
<!----------------------------------------->
<header id="header" class="header to-blur">
    <div>
        <div id="burger" class="header header__burger" onclick="enable_burger()">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <a href="/">
            <img src="../static/images/header/logo.svg" alt="logo site" class=" header__logo">
        </a>
    </div>

    <nav class=" header__nav">
        <div>
            <span class="header__nav__container">
                <a href="#ocean" data-text="Océan" class="header__nav__container__text header__nav__container__text--notSOZO ">Ωκεανός</a>
            </span>
            <span class="header__nav__line"></span>
        </div>
        <div>
            <span class="header__nav__container">
                <a href="#animal"data-text="Animal" class="header__nav__container__text header__nav__container__text--notSOZO">‎ ‎ ‎ Ζώο ‎ ‎ ‎ </a>
            </span>
            <span class="header__nav__line"></span>
        </div>
        <a href="/" class=" header__nav__container__text header__nav__container__text--SOZO">SOZO</a>
        <div>
            <span class="header__nav__container">
                <a href="#foret"data-text="Forêt" class="header__nav__container__text header__nav__container__text--notSOZO">Δάσος</a>
            </span>
            <span class="header__nav__line"></span>
        </div>
        <div>
            <span class="header__nav__container">
                <a href="#montagne"data-text="Montagne" class="header__nav__container__text header__nav__container__text--notSOZO">‎ ‎ ‎ βουνό ‎ ‎ ‎ ‎ ‎ </a>
            </span class="container-test">
            <span class="header__nav__line"></span>
        </div>
    </nav>
    <div class="header__btn">
        {% if 'nom' in session or 'prenom' in session %}
            <button id="button-form" class="header__btn__profile--connected" onclick="enable_loggedBox()"><div>{{session['prenom'][0]}}{{session['nom'][0]}}</div></button>
        {% else %}
            <button id="button-form" class="header__btn__profile" onclick="enable_loginBox()"><img src="../static/images/header/profile.svg" alt="profile logo"></button>
        {% endif %}
        <button type="button" class="header__btn__profile--cart" onclick=""><img src="../static/images/header/cart.svg" alt="cart logo"></button>
    </div>
</header>

<div class="mobile-only">
    <nav class="mobile-only__nav" id="mobile-only__nav">
        <li>
            <a href="#">Ωκεανός<em>Océan</em></a>
        </li>
        <li>
            <a href="#">Ζώο<em>Animal</em></a>
        </li>
        <li>
            <a href="#">Δάσος<em>Forêt</em></a>
        </li>
        <li>
            <a href="#">βουνό<em>Montagne</em></a>
        </li>
    </nav>
</div>


{% endmacro %}