{% macro render_header() %}

<!-- form -->
<section>
    <!-- div element to hide the website -->
    <div class="login-box-blur" id="login-box-blur"></div>

    <div id="login-box" class="login-box">
        <h2>SE CONNECTER</h2>
        <form method="POST" action="login_process">
            <div class="user-box">
                <input type="text" id="" name="e-mail" required="">
                <label>E-mail</label>
            </div>
            
            <div class="user-box">
                <input type="password" name="password" required="">
                <label>Mot de passe</label>
            </div>

            <div class="button-form">

                <input type="submit" id="submit" value="Valider">

                <div id="register">
                    Pas encore de compte ?
                    <a href="{{ url_for('register')}}">S'inscrire</a>
                </div>

            </div>
        </form>
    </div>
</section>
<!----------------------------------------->
<!--------------- Header ------------------>
<!----------------------------------------->
<header id="header" class="header to-blur">
    <div>
        <div id="burger" class="header header__burger" onclick="enable_burger()">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <a href="/">
            <img src="../static/images/header/logo.svg" alt="logo site" class=" header__logo">
        </a>
    </div>

    <nav class=" header__nav">
        <div>
            <span class="header__nav__container">
                <a href="#ocean" data-text="Océan" class="header__nav__container__text header__nav__container__text--notSOZO ">Ωκεανός</a>
            </span>
            <span class="header__nav__line"></span>
        </div>
        <div>
            <span class="header__nav__container">
                <a href="#animal"data-text="Animal" class="header__nav__container__text header__nav__container__text--notSOZO">‎ ‎ ‎ Ζώο ‎ ‎ ‎ </a>
            </span>
            <span class="header__nav__line"></span>
        </div>
        <a href="/" class=" header__nav__container__text header__nav__container__text--SOZO">SOZO</a>
        <div>
            <span class="header__nav__container">
                <a href="#foret"data-text="Forêt" class="header__nav__container__text header__nav__container__text--notSOZO">Δάσος</a>
            </span>
            <span class="header__nav__line"></span>
        </div>
        <div>
            <span class="header__nav__container">
                <a href="#montagne"data-text="Montagne" class="header__nav__container__text header__nav__container__text--notSOZO">‎ ‎ ‎ βουνό ‎ ‎ ‎ ‎ ‎ </a>
            </span class="container-test">
            <span class="header__nav__line"></span>
        </div>
    </nav>
    <div class="header__function">
        <button id="button-form" class="btn btn__profile" onclick="enable_Form()"><img src="../static/images/header/profile.svg" alt="profile logo"></button>
        <button type="button" class="btn" onclick=""><img src="../static/images/header/cart.svg" alt="cart logo"></button>
        <div>
            {% if 'name_of_user' in session %}
                <p>{{ session['name_of_user'] }}</p>
            {% endif %}
        </div>
    </div>
</header>

<div class="mobile-only">
    <nav class="mobile-only__nav" id="mobile-only__nav">
        <li>
            <a href="#">Ωκεανός<em>Océan</em></a>
        </li>
        <li>
            <a href="#">Ζώο<em>Animal</em></a>
        </li>
        <li>
            <a href="#">Δάσος<em>Forêt</em></a>
        </li>
        <li>
            <a href="#">βουνό<em>Montagne</em></a>
        </li>
    </nav>
</div>


{% endmacro %}