/* Apply padding and margin to all elements */
* {
  padding: 0px;
  margin: 0px;
}

/* Apply background color and font family to the entire body */
body {
  background-color: #EBEDEF;
  font-family: Arial, sans-serif;
}

/*---------------------Header-----------------*/

/* Apply background color and text color to the header */
header {
  background-color: #1B2631;
  color: #fff;

  /* Apply custom font family to the header */
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  /* Use flexbox to align header items vertically */
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  /* Apply padding to the header */
  padding: 15px;
  height: 15vh;
}

/* Apply font size and center text in the header */
.header h1 {
  font-size: 3.3em;
  text-align: center;
}

/* Apply font size, use flexbox to align list items horizontally,
and remove bullet points from list items */
.header__list__ul {
  font-size: 1.3em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
}

/* Remove underline from links and apply text color to links */
a {
  text-decoration: none;
  color: #85929E;
}

.header__list__ul a {
  font-style: italic;
}

li:hover a[href="#"]:before {
  content: attr(data-hover);
}

li a[href="#"]:before {
  content: attr(data-text);
}

li a[href="#"] {
  position: relative;
}

li a[href="#"]:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
}

li:hover a[href="#"]:before {
  visibility: visible;
}

.header__list__ul li a:before {
  content: attr(data-hover-text);
  display: none;
}

.header__list__ul li a:hover:before {
  display: inline-block;
}

.header__list__ul li a:hover {
  visibility: hidden;
}


/*---------------------Section-----------------*/
.main-content {
  margin: 5vh 0;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.section-img {
  height: 60vh;
}



/*---------------------Footer-----------------*/
footer {
  background-color: #242424;
  color: #fff;
  padding: 30px;
  font-family: 'Roboto', sans-serif;
}

/* Footer Wrapper */
.footer__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Footer Column */
.footer__column {
  flex-basis: 30%;
}

/* Footer Social Icons */
.footer__social {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.footer__social li {
  margin-right: 10px;
}

.footer__social li:last-child {
  margin-right: 0;
}

.footer__social a {
  color: #fff;
  font-size: 24px;
}

/* Footer Bottom */
.footer__bottom {
  margin-top: 30px;
  text-align: center;
}
